---
---

/* General Styles: */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
	line-height: 1.5; // if 16px, = 24px line height
}

iframe {
    width: 100%;
}

/*
 * Possibly prevents horizontal scroll on any
 * embeded Github gists.
 */
.gist td {
	max-width: 600px;
}

/* Partials: */

@import "_colors/slab-palette";
@import "universal-styles";
@import "home";
@import "navbar";
@import "alert-message";
@import "page";
@import "logos";
@import "makerspace";
@import "footer";
@import "text";
@import "fellowship";
@import "research";
@import "progress-tracker"; // only include pre-v1.0.0
@import "blog-post";
@import "person";
@import "people";
@import "events";
@import "event";
@import "blog";
@import "spatial-tech";
@import "research-and-development";
@import "research-project";

// Styles for the working-library browse page. Uses a div for now.
div.working-library {
	margin: 2rem 0;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;

	a {
		display:flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
		width: 30%;
		text-decoration:none !important;
		color: #333;
		border-width: 0 !important;
		margin-bottom: 1rem;
		padding: .5rem;

		img {
			border: 10px solid $blue-alt-lightest;
		}
		em {
			display:block;
		}
	}
}

article.working-library {
	padding: 2rem;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	.post__content {
		width: 48%;
		margin:0;
		padding:0;
	}
	.bibliographic-info {
		width: 48%;
		display:block;

		img {
			display:block;
			margin: 1rem auto;
			border: 5px solid rgba(0,0,0,0.125);
		}
	}
}