---
layout: page
title: Working Library
excerpt: "Our staff curates a working library of publications related to digital humanities.
These are available to browse and consult in our lab space."
permalink: /working-library/
---

<div class="working-library">
{% for work in site.data.working_library %}

<div>
    <img alt="" src="https://covers.openlibrary.org/b/isbn/{{ work.ISBN }}-M.jpg" />
    {% assign work_title = work.title | split: ":" %}
    <em>{{ work_title[0] }}</em>
    <strong>{{ work.ISBN }}</strong>
    {% for editor in work.editor %}
    {{ editor.given }} {{ editor.family }}
    {% endfor %}
    {% for author in work.author %}
    {{ author.given }} {{ author.family }}
    {% endfor %}
</div>

{% endfor %}
</div>